# Azure Pipelines configuration for Azure Web App deployment
# This is an alternative to GitHub Actions if you prefer Azure DevOps

trigger:
  branches:
    include:
      - main
      - master

pool:
  vmImage: 'ubuntu-latest'

variables:
  nodeVersion: '20.x'
  azureWebAppName: 'your-app-name'  # Update with your Azure Web App name

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '$(nodeVersion)'
  displayName: 'Install Node.js'

- script: |
    npm ci
  displayName: 'Install dependencies'

- script: |
    npm run build
  displayName: 'Build application'

- task: AzureWebApp@1
  inputs:
    azureSubscription: 'your-azure-subscription'  # Update with your Azure subscription
    appName: '$(azureWebAppName)'
    package: '$(System.DefaultWorkingDirectory)'
    deploymentMethod: 'auto'

